<div class="main-wrapper">
  <div class="page-wrapper full-page">
    <div class="page-content d-flex align-items-center justify-content-center">

				<div class="row w-100 mx-0 auth-page">
					<div class="col-md-10 col-xl-8 mx-auto">
						<div class="card">
              <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
							<div class="row">
                <div class="col-md-4 pr-md-0">
                  <div class="auth-left-wrapper">

                  </div>
                </div>

                <div class="col-md-8 pl-md-0">
                  <div class="auth-form-wrapper px-4 py-5">
                    <div class = "logp121">
                      <img _ngcontent-pgh-c179="" src="https://www.feedfleet.com/assests/frotnend/assets/img/logo/logo.png" alt="logo" style="width: 119px;">
                    </div>
                    <h5 class="text-muted font-weight-normal mb-4">Create a new password.</h5>
                    <div class="forms-sample">
                      <div class="form-group">
                        <label>Old password </label>
                    <input type="text" formControlName="old_Password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.old_Password.errors }" />
                    <div *ngIf="submitted && f.old_Password.errors" class="invalid-feedback">
                        <div *ngIf="f.old_Password.errors.required">oldPassword is required</div>
                    </div>
                      </div>
                       <div class="form-group">
                        <label for="exampleInputUsername1"> New password</label>
                        <input type="password" formControlName="new_password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.new_password.errors }" />
                        <div *ngIf="submitted && f.new_password.errors" class="invalid-feedback">
                            <div *ngIf="f.new_password.errors.required">Password is required</div>
                            <div *ngIf="f.new_password.errors.minlength">Password must be at least 6 characters</div>
                        </div>
                      <div class="form-group">
                        <label for="exampleInputEmail1">Varify</label>
                        <input type="password" formControlName="conferm_password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.conferm_password.errors }" />
                        <div *ngIf="submitted && f.conferm_password.errors" class="invalid-feedback">
                            <div *ngIf="f.conferm_password.errors.required">Confirm Password is required</div>
                            <div *ngIf="f.conferm_password.errors.mustMatch">Passwords must match</div>
                        </div>
                      </div>

                  </div>

                    <div class="text-center">
                      <button class="btn btn-primary mr-1">Register</button>
                      <button class="btn btn-secondary" type="reset" (click)="onReset()">Cancel</button>
                  </div>
                      <!-- <a href="login.html" class="d-block mt-3 text-muted">Already a user? Sign in</a> -->

                  </div>
                </div>
              </div>

              </div>
            </form>
						</div>
					</div>
        </div>
      </div>
    </div>
  </div>

