
	<div class="main-wrapper">


		<div class="page-wrapper">


			<div class="page-content">

        <div class="row">
          <div class="col-md-12 grid-margin">
            <div class="card">
              <div class="card-body">
                <h6 class="card-title">Chart.js</h6>
                <p>Simple yet flexible JavaScript charts. Read the <a href="https://www.chartjs.org/" target="_blank"> Official Chart.js Documentation</a> for a full list of instructions and other options.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xl-6 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h6 class="card-title">Bar chart</h6>
                <canvas id="chartjsBar"></canvas>
              </div>
            </div>
          </div>
          <div class="col-xl-6 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h6 class="card-title">Line chart</h6>
                <canvas id="chartjsLine"></canvas>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xl-6 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h6 class="card-title">Doughnut chart</h6>
                <canvas id="chartjsDoughnut"></canvas>
              </div>
            </div>
          </div>
          <div class="col-xl-6 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h6 class="card-title">Area chart</h6>
                <canvas id="chartjsArea"></canvas>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xl-6 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h6 class="card-title">Pie chart</h6>
                <canvas id="chartjsPie"></canvas>
              </div>
            </div>
          </div>
          <div class="col-xl-6 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h6 class="card-title">Bubble chart</h6>
                <canvas id="chartjsBubble"></canvas>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xl-6 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h6 class="card-title">Radar chart</h6>
                <canvas id="chartjsRadar"></canvas>
              </div>
            </div>
          </div>
          <div class="col-xl-6 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h6 class="card-title">Polar area chart</h6>
                <canvas id="chartjsPolarArea"></canvas>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xl-6 grid-margin grid-margin-xl-0 stretch-card">
            <div class="card">
              <div class="card-body">
                <h6 class="card-title">Grouped bar chart</h6>
                <canvas id="chartjsGroupedBar"></canvas>
              </div>
            </div>
          </div>
          <div class="col-xl-6 stretch-card">
            <div class="card">
              <div class="card-body">
                <h6 class="card-title">Mixed bar chart</h6>
                <canvas id="chartjsMixedBar"></canvas>
              </div>
            </div>
          </div>
        </div>

			</div>

			<!-- partial:../../partials/_footer.html -->
			<footer class="footer d-flex flex-column flex-md-row align-items-center justify-content-between">
				<p class="text-muted text-center text-md-left">Copyright © 2020 <a href="../../../../../index.html" target="_blank">NobleUI</a>. All rights reserved</p>
				<p class="text-muted text-center text-md-left mb-0 d-none d-md-block">Handcrafted With <i class="mb-1 text-primary ml-1 icon-small" data-feather="heart"></i></p>
			</footer>
			<!-- partial -->

		</div>
	</div>
