
	<div class="main-wrapper">


		<div class="page-wrapper">


			<div class="page-content">

				<div class="row">
					<div class="col-md-12 grid-margin">
						<div class="card">
							<div class="card-body">
								<h6 class="card-title">Flot Charts</h6>
								<p>Flot is a pure JavaScript plotting library for jQuery, with a focus on simple usage, attractive looks and interactive features. Read the <a href="http://www.flotcharts.org/" target="_blank"> Official Flot Documentation</a> for a full list of instructions and other options.</p>
							</div>
						</div>
					</div>
				</div>

        <div class="row">
					<div class="col-xl-6 grid-margin stretch-card">
						<div class="card">
							<div class="card-body">
								<h6 class="card-title">Line chart</h6>
								<div class="flot-chart-example-wrapper">
									<div class="flot-chart-example" id="flotLine"></div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-6 grid-margin stretch-card">
						<div class="card">
							<div class="card-body">
								<h6 class="card-title">Bar chart</h6>
								<div class="flot-chart-example-wrapper">
									<div class="flot-chart-example" id="flotBar"></div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-xl-6 grid-margin stretch-card">
						<div class="card">
							<div class="card-body">
								<h6 class="card-title">Area chart</h6>
								<div class="flot-chart-example-wrapper">
									<div class="flot-chart-example" id="flotArea"></div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-6 grid-margin stretch-card">
						<div class="card">
							<div class="card-body">
								<h6 class="card-title">Pie chart</h6>
								<div class="flot-chart-example-wrapper">
									<div class="flot-chart-example" id="flotPie"></div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-xl-12">
						<div class="card">
							<div class="card-body">
								<h6 class="card-title">Real-Time chart</h6>
								<div class="flot-chart-example-wrapper">
									<div class="flot-chart-example" id="flotRealTime"></div>
								</div>
							</div>
						</div>
					</div>
        </div>

			</div>

			<!-- partial:../../partials/_footer.html -->
			<footer class="footer d-flex flex-column flex-md-row align-items-center justify-content-between">
				<p class="text-muted text-center text-md-left">Copyright © 2020 <a href="../../../../../index.html" target="_blank">NobleUI</a>. All rights reserved</p>
				<p class="text-muted text-center text-md-left mb-0 d-none d-md-block">Handcrafted With <i class="mb-1 text-primary ml-1 icon-small" data-feather="heart"></i></p>
			</footer>
			<!-- partial -->

		</div>
	</div>
