.logp121
{
  position: absolute;
  top : 13px;
  width: 100px;
}
.chech1{
  position: absolute;
  right: 273px;
  bottom: 3px;
   }
   img {
    position: absolute;
    left: -3px;
   }
  .loginfootertext
{
  margin-top: 0;
  margin-bottom: 0rem;
}
.p {
    margin-top: 0;
    margin-bottom: 0rem;
}
.main-wrapper .page-wrapper {

  background: #366594;
 }
