// .card
// {
//   padding: 14px;
// }


.vl {
  border-left: 2px solid rgb(17, 26, 17);
  height: 250px;
}

element.style {
}
.col {

    margin: 2%;
    font-size: 20px;
    font: message-box;
}
h3, .h3 {
  font-size: 1.75rem;
  margin: revert;

}
.transictiontxt {
  position: absolute;
  top: 8px;
  left: 56px;
}
h1.trans1 {
  color: steelblue;
  margin: revert;
}
button.btn.btn-info.su.mb-3 {
  position: absolute;
  right: 5px;
  top: 38px;
  padding: 3px;
}

button.btn.btn-danger.su.mb-3 {
  position: absolute;
  right: 190px;
  top: 38px;
  top: px;
  padding: 3px;
}
