<div class="main-wrapper">
  <div class="page-wrapper">
    <div class="page-content">


      <div class="card">
        <h1 class="trans1"><></h1>
        <div class = "transictiontxt" >
          <h3 >Transiction</h3>
        </div>
        <button type="button" class="btn btn-info su mb-3">Upgarde plan to $49</button>
        <button type="button" class="btn btn-danger  su mb-3">Unsubscribe plan</button>
  <div class="card">

  <div class="row">

    <div class="col">
      <p>Payer Email</p>
      <p>Currency</p>
      <p>Amount</p>
      <p>Plan Type</p>
      <p>Plan Interval</p></div>
    <div class="col">
      <p>lavinagidwani18@gmail.com</p>
    <p>INR</p>
    <p>1393</p>
    <p>Basic</p>
    <p>Mont</p></div>
    <div class="vl"></div>
    <div class="col">
      <p>Transaction Status :</p>
      <p>Plan Period Start Date :</p>
      <p>Plan Period End Date :</p>
      <p>Created Date :</p>
    </div>
    <div class="col">
      <p>Active</p>
      <p>01/13/2021</p>
      <p>02/13/2021</p>
      <p>01/13/202</p>

    </div>
  </div>

</div>
</div>
 
</div>
</div>
