p.resned {
    font-size: 12px;
}

.logp121
{
  position: absolute;
  top : 13px;
  width: 100px;
}
// regular style toast

.toast-container {
  background: blue !important;
  color: black !important;
}
