body{
  margin-top:20px;
  background:#f8f8f8
}
.contain2 {
  position: absolute;

  bottom: 82px;
  width: 502px;
}
.logo
{
  width: 100%;
    height: 151px;
    position: relative;
    text-align: center;
}
.logo11{

  height: 142px;
  width: 322px;
    border-radius: 80px;
    margin: 10px;
}
.fit-image {
  width: 100%;
  object-fit: cover
}
.ban1
{
  width: 100% !important;
}
.fs-title1{
  text-align: center;
}
.fs-title
{
  font-family: "Overpass", sans-serif;
}
.ban2
{
  width: 100% !important;
}
.imgpro{
  height: 162px;
  border-radius: 100px !important;
}
.btn-floating
{

}
.button {
  background-color: #cdd6db;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button .button5
{
  height: 5px;
  border-radius: 42px;
  padding: 11px 16px;
  border-radius: 50px;
}
.searchButton {
  height: 31px;
  width: 33px;
  cursor: pointer;
  border: none;
  background-color: #f2f2f2;
}
.bcontent {
  margin-top: 10px;
}
.bi .bi-shield-fill-plus
{
background-color: black;
}
.card22{
  background-color: rgb(173, 216, 214);
}
a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}
a:hover {
  background-color: #ddd;
  color: black;
}
.previous {
  background-color: #f1f1f1;
  color: black;
}
.next {
  background-color: #4CAF50;
  color: white;
}
.round {
  border-radius: 50%;
}
.next{
  margin: 5px;
  background: skyblue;
}
div.relative {
  position: relative;
  border: 3px solid #ffffff;
}
div.absolute {
  position: absolute;
  top: 270px;
  right: 370px;
  width: 200px;
  height: 100px;
}
.card-img12
{
  border-radius: 104px;
  width: 131px;
  height: 124px;
}
.fa .fa-edit
{
  right: 200px;
}
.searchButton{
  border-radius: 60px;
  border: 2px solid #b5b1b1;
  right: 200px;
  margin: 36% 58px 4px 0;
  z-index: 1;
}
.fa .fa-edit
{

}
.main-wrapper .page-wrapper .page-content {
padding: 5px;
margin-top:20;
}
.searchButton11{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 28px;
    width: 28px;
    border-radius: 12px;
}
.textarea{
  width: 65%;
}
.searchButton88{
  position: absolute;
  bottom: -7px;
  left: 110px;
  height: 28px;
  width: 28px;
  border-radius: 12px;
}
.logoedit{
  position: absolute;
  border-radius: 100px;
  bottom: 12px;
  right: 180px;
  width: 32px;
  height: 33px;
}
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 6px 19px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  margin: 4px 2px;
  cursor: pointer;
}
.button2 {background-color: #13a3d9;} /* Blue */
.button1 {background-color: lightslategrey;}
.countrydrop
{
  border: #312121;
}
.profileicon{

  width: 52px;
}
.fa.fa-edit {
  margin: -5px 0 0 -17px;
}
img.coverPhoto {
  height: 391px;
  width: 100%;
}

.logo12{
  height: 170px;
  width: 322px;
  border-radius: 100px;
  margin: 10px;
  width: 200px;
  }
  .coverPhoto1
{
  height: 391px;
  width: 100%;
}
.card-img13
{
  border-radius: 104px;
  width: 131px;
  height: 124px;
}
