.main-wrapper .page-wrapper .page-content {
  margin-top: -7px;
}
.NgxEditor__Content {

  margin: 23px 5px 6px -1px ;

}
button.btn.btn-info {
  position: absolute;
  right: 0px;
  bottom: 25px;
}
.form-control {
  display: block;
  width: 100%;

}
.btn .btn-secondary{
  position: absolute;
  right: 0px;
  bottom: 20px;

}
h6 {
  padding: 11px 0 0 0;
  margin: 14px;
}
button.btn.btn-outline-info {
  width: 100%;
}
.card
{
  margin: 61px 3px 8px -6px;
}
.card-header {
  background: steelblue;

  color: white;
}
